.btn {
   width: 170px;
   height: 69px;
   border-radius: 5px;
   color: white;

   font-family: "Lato", sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 22px;
   /* identical to box height */
   cursor: pointer;
   text-align: center;
   border: none;

   i {
      color: white;
      right: 10px;
      top: 25px;
      cursor: pointer;
   }
}
.btn-blue {
   background-color: $color-button-primary;
}
.btn-green {
   background-color: $color-button-secondary;
}
.btn-orange {
   background-color: $color-button-tertiary;
}

.button__module {
   display: inline-block;
   position: relative;
   &.maximized {
      width: 500px;
   }
   &--input {
      height: 69px;
      position: absolute;
      right: 0px;
      padding: unset;
      border: none;
      padding-left: 10px;
      display: none;
      bottom: 0px;
      border-radius: 5px 5px 0px 0px;
      color: white;

      &.input-blue {
         background-color: $color-button-primary;
      }
      &.input-green {
         background-color: $color-button-secondary;
      }
      &.input-orange {
         background-color: $color-button-tertiary;
      }
      &.maximized {
         width: 490px;
         display: inline-block;
      }
      &.searchingInput {
         display: inline-block;
         right: unset;
      }
      &::placeholder {
         color: white;
      }
   }

   &-list-search {
      position: absolute;
      width: 170px;
      border-radius: 0px 0px 5px 5px;
      color: white;
      font-family: "Lato";
      display: none;

      &.maximized {
         display: block;
      }

      ul {
         margin: 10px;
         padding: 0px;

         li {
            list-style-type: none;
            cursor: pointer;
            &:hover {
               color: black;
            }
         }
      }
   }

   &-div {
      i {
         position: absolute;
         z-index: 3;
         bottom: 24px;
         right: 15px;
         color: white;
         display: none;
         cursor: pointer;
         &.maximized {
            display: block;
         }
      }
   }

   &--list {
      display: none;
      border-radius: 0px 0px 5px 5px;
      &.list-blue {
         background-color: $color-button-primary;
      }
      &.list-green {
         background-color: $color-button-secondary;
      }
      &.list-orange {
         background-color: $color-button-tertiary;
      }

      &.maximized {
         position: absolute;
         width: 500px;
         display: flex;
         justify-content: space-around;
         margin-right: 20px;
         padding-top: 5px;
      }

      & ul {
         padding: 0;
         margin-top: 0;

         position: relative;
         max-height: 225px;
         overflow: hidden;
      }
      & li {
         list-style-type: none;
         text-align: left;
         color: $color-secondary;
         max-width: 150px;
         margin-left: 5px;
         margin-bottom: 5px;
         cursor: pointer;
         font-size: 15px;
         font-family: "lato";
         &:hover {
            color: black;
         }
      }
   }
}
