$color-primary: #d04f4f;
$color-secondary: #fff;

$color-button-primary: #3282f7;
$color-button-secondary: #68d9a4;
$color-button-tertiary: #ed6454;

$background-primary: #e7e7e7;
$background-secondary: #c7bebe;
